/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .post_container{
     display: block;
     margin: 0 auto;
     border: 5px solid blueviolet;
     text-align:center;
     margin-top: 20px;
 }
 img {
     width: 50px;
     height: auto;
     display: inline-block;
     margin-left: 10px;
 }
 .breed_inline{
     font-style: none;
     font-size: 12px;
 }
 .categories{
    font-style: italic;
    background-color: burlywood;
    margin-right:10px;
    border-color: black;
    border-style: dashed;
    border-width: 1px;
    padding:2px;
 }
 
